@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */
body {
    font-family: montserrat;
    background-color: #eaeaea;
    color: #333;
}

.container {
    width: 1440pxx;
    margin: auto;
    background-color: #24252a;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
  font-family: "Alfa Slab One";
    font-size: 60px;
	margin-top: 25px;
	margin-bottom: 30px;
    font-weight:none;
    color: aliceblue;
}

.header ul li {
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
}

.header a {
    text-decoration: none;
    color: #017f8c;
    padding: 3px;
}

.header a:hover {
    background-color: rgb(249, 147, 0);
    color: white;
    border-radius: 5px;
}


.hero {
    height: 430px;
    background-image: url("img/hero.png");
    background-size: cover;
    background-position: 0 -70px;
    border-top: 7px solid rgb(249, 147, 0);
}


.main {
	width: 1000px;
    padding: 20px;
	box-sizing: 600px;
	float: left;
  padding-top: 50px;
}

a { color:aliceblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-decoration-color: aliceblue;
    
  }
  
  body {
    background-color: #303032;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
  }
  
  .text--medium {
    font-family: "montserrat";
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ecf0f1;
  }
  
  .cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
  }
  
  .card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .card:hover {
    transform: translateY(-7px);
  }
  
  .card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
  }
  
  .card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card__content {
    padding: 20px;
  }
  
  .card__title {
    margin-bottom: 20px;
  }
  
  .card__info {
    display: flex;
    align-self: end;
    align-items: center;
  }
  
  .card__price {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #017f8c;
    border-radius: 20px;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 1000px) {
    .card {
      grid-column-end: span 6;
    }
  }
  
  @media only screen and (max-width: 700px) {
    main {
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 12;
    }
  }
  
  @media only screen and (max-width: 500px) {
    main {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
    }
    .cards {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 6;
    }
  }
  

  


.sidebar {
  width: 300px;
  float: left;
  padding-top: 40px;
}

.sidebar h3 {
    font-weight: bold;
    color: #f99300;
    font-size: 23px;
    margin-bottom: 30px;
    position: center;
    margin-left: 120px;
    margin-top: 10px;
    }

.sidebar h2{
  color: #017f8c;
  font-family: "montserrat";
  text-transform: none;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 23px;
}

.sidebar img {
    width: 180px;
    height: 180px;
    float: center;
    padding-right: 10px;
    margin-left: 80px;
    margin-bottom: 40px;
}
 .sidebar p {
  font-family: "montserrat";
  text-align:justify;
  color:aliceblue;
  font-size: 16px;
  margin-left: 30px;
}

.sidebar a{
  color: rgb(249, 147, 0);
  text-decoration: none;
}
.sidebar ul{
  color: rgb(249, 147, 0);
}
.sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  margin-left: 13px;
}  

sidebar ul li a{
  color: rgb(249, 147, 0);
  display: block;
}

sidebar ul li a .fas{
  width: 25px;
}

.sidebar ul li:hover{
  background-color: #017f8c;
}
    
.sidebar ul li:hover a{
  color: #fff;
}

.footer {
  background-color: #017f8c;
  padding: 20px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 15px;
}
/* clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
